ovh_application_key    = ""
ovh_application_secret = ""
ovh_consumer_key       = ""
ovh_project_id         = ""
ssh_key_name           = ""
instance_flavor_id     = ""
instance_image_id      = ""
floating_ip_id_dev     = ""
floating_ip_id_prod    = ""
