# Prod environment config - copy to terraform.tfvars and change what needs to be changed
env          = "prod"
vlan_id      = 200
subnet       = "10.0.1.0/24"
subnet_start = "10.0.1.2"
subnet_end   = "10.0.1.254"
deploy_k8s   = false
# floating_ip_id_prod is in config/base.tfvars
